apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "energy-forecast.fullname" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: energy-forecast
  template:
    metadata:
      labels:
        app: energy-forecast
    spec:
      containers:
        - name: api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          env:
            - name: MODEL_PATH
              value: "{{ .Values.env.MODEL_PATH }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}

